<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/logo.png" type="image/x-icon">

    <link rel="stylesheet" href="/css/home.css">
    <title>Stock Martket Emperor</title>

    <script src="/js/vue@3.2.47-prod.js" defer></script>
    <script src="/js/template.js" defer></script>
    <!-- <script src="/js/chartjs-adapter-date-fn@3.0.0.js"></script> -->
    <script src="/js/chart.js" ></script>
    <script src="/js/chartjs-adapter-date-fns.js" ></script>

    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script> -->


</head>
<body>
    <header id="header" class="header container" v-cloak></header>
    
    <main class="container p-3">
        
        <div class="m-2 bd">
            <div class="m-2 center">Input stock_id and the model is going to predict next 30 days.</div>
            <div class="m-2 center" style="font-weight: bold;">※ Maximum inputs is 10 each times.</div>
        </div>
        
        
        <div class="m-2 ">
            <!-- <h3 class="center">Show The Lowest 10 Closing Price. </h3> -->
            <h3 class="center">Show The Highest 10 Trading Volumn, and Filter Closing Price Over 100 NT. </h3>
            <div class="center m-3">
                <button id="showMillionTradeVolume" class="m-2" onclick="showMillionTradeVolume()">Over Million</button>
                <button id="showTenMillionTradeVolume" class="m-2" onclick="showTenMillionTradeVolume()">Over TenMillion</button>
                <button id="showHundredMillionTradeVolume" class="m-2" onclick="showHundredMillionTradeVolume()">Over HundredMillion</button>
            </div>
        </div>

        
        <div class="m-2 ">
            <div class="center m-3">

            </div>
        </div>


        <div class="m-2 ">
            <div class="center p-3">
                <div class="m-2 h3">Seach:</div>
                <hr>
                <label class="m-2" for="stock_id" >Stock_id</label>
                <input class="m-2" type="text" id="stock_id">
                <label class="m-2" for="val_loss">val_loss smaller than</label>
                <input class="m-2" type="text" id="val_loss" value="1">
                <label class="m-2" for="growth_rate" >growth_rate</label>
                <input class="m-2" type="text" id="growth_rate" value="1.03">
                <button class="m-2" id="submit" class="btn" onclick="submit_search()">Submit</button>
                <br>
            </div>
        </div>

        <div id="graph-container">
        </div>

    </main>

    <footer id="footer" class="footer container" v-cloak></footer>
    <!-- <script src="/js/chartjs@2.8.0.js" defer></script> -->
   
    <script src="/js/drawingGraphForHome.js"></script>
    <script src="/js/searchTopData.js"></script>
    <script src="/js/eventTriggerForHome.js"></script>


</body>
</html>