<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Stock Martket Emperor</title>

    <script src="/js/vue@3.2.47-prod.js" defer></script>
    <script src="/js/template.js" defer></script>
    <!-- <script src="/js/chartjs-adapter-date-fn@3.0.0.js"></script> -->
    <!-- <script src="/js/chartjs@4.4.9.js" ></script> -->

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>


</head>
<body>
    <header id="header" class="header container" v-cloak></header>
    
    <main class="container p-5">
        
        <div class="m-2 center">Input stock_id and the model is going to predict next 30 days.</div>
        <div class="m-2 center" style="font-weight: bold;">※ Maximum inputs is 10 each times.</div>
        
        <div class="center">
            <div class="border p-3">
                <div class="m-2 h3">Seach</div>
                <hr>
                <label class="m-2" for="stock_id" >Stock_id</label>
                <input class="m-2" type="text" id="stock_id">
    
                <button class="m-2" id="submit" class="btn" onclick="submit_stock_id_search(event)">Submit</button>
                <br>
            </div>
        </div>

        <div id="graph-container">
        </div>

    </main>

    <footer id="footer" class="footer container" v-cloak></footer>
    <!-- <script src="/js/chartjs@2.8.0.js" defer></script> -->
   
    <script src="/js/home.js"></script>


</body>
</html>