<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/logo.png" type="image/x-icon">

    <link rel="stylesheet" href="/css/home.css">
    <title>Stock Martket Emperor</title>

    <script src="/js/packages/vue@3.2.47-prod.js" defer></script>
    <script src="/js/template.js" defer></script>
    <script src="/js/packages/chart.js" ></script>
    <script src="/js/packages/chartjs-adapter-date-fns.js" ></script>

</head>
<body>
    <header id="header" class="header container" v-cloak></header>

    <main class="container p-3">

        <div class="m-2 p-3 bd-3">
            <div class="m-2 h3">Search:</div>
            <hr>
            <label class="m-2" for="stock_id">Stock_id:</label>
            <input class="m-2" type="text" id="stock_id" value="2630">
            <button class="m-2" id="submit" class="btn" onclick="submit_search()">Submit</button>
            <br>

        </div>

        <div id="title">

        </div>

        <div id="graph-container">
        </div>

        <!-- <div id="chart-container"> -->
            <!-- <canvas id="myChart"></canvas> -->
        <!-- </div> -->


    </main>

    <footer id="footer" class="footer container" v-cloak></footer>


    <script src="/js/stock_price_probability/main.js"></script>

</body>
</html>