@import url('./style.css');



.show-reply-msg {
    background-color: transparent;
    color: blue;
    border:  none;
}

.show-reply-msg:hover, .show-reply-msg:focus {
    background-color: transparent;
    color: purple;
}

.show-reply-msg:focus {
    font-weight: bold;

}